In [1]:
# import libraries

import requests
import pandas as pd

In [2]:
def query_translation(payload):
    response = requests.post(API_URL_translate, headers=headers, json=payload)
    return response.json()

def query_sentiment(payload):
    response = requests.post(API_URL_sentiment, headers=headers, json=payload)
    return response.json()

def fillna_mean(df):
    _numerics = ['int16', 'int32', 'int64', 'float16', 'float32', 'float64']
    _cols = df.shape[1]
    for i in range(_cols):
        if df.iloc[:,i].dtypes in _numerics:
            df.iloc[:,i] = df.iloc[:,i].fillna(df.iloc[:,i].mean())
    return df

def addMean_column(df,iStart,iEnd):
    _numColumns = iEnd - iStart
    _series = df.iloc[:,iStart]
    if _numColumns == 1:
        df.loc[:,'Mean_Point'] = _series
        return df
    elif _numColumns < 1:
        return
    else:
        for i in range(iStart+1,iEnd):
            _series = _series + df.iloc[:,i]
        _series = _series / (_numColumns * 10)
        df.loc[:,'Mean_Point'] = _series
        return df

def translate_en_th(inputs_text):
    _translate_output = query_translation({ "inputs": inputs_text, })
    return _translate_output[0]['translation_text']

def sentiment_analysis(translated_text):
    _sentiment_output = query_sentiment({ "inputs": translated_text, })
    return _sentiment_output[0]

def positive_score(sentiment_set):
    if sentiment_set[0]['label'] == 'POSITIVE':
        return sentiment_set[0]['score']
    else:
        return sentiment_set[1]['score']

def negative_score(sentiment_set):
    if sentiment_set[0]['label'] == 'NEGATIVE':
        return sentiment_set[0]['score']
    else:
        return sentiment_set[1]['score']

In [3]:
# Connect to API

HuggingFace_Token = "Bearer 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"

API_URL_translate = "https://api-inference.huggingface.co/models/Helsinki-NLP/opus-mt-th-en"
API_URL_sentiment = "https://api-inference.huggingface.co/models/distilbert/distilbert-base-uncased-finetuned-sst-2-english"

headers = {"Authorization": HuggingFace_Token}

In [4]:
# Read data

df = pd.read_excel("data.xlsx")
df

,ID,Start time,Completion time,Email,Name,Language,อายุ,เพศ,MSQ_1,MSQ_2,...,MSQ_4,MSQ_5,MSQ_6,MSQ_7,MSQ_8,MSQ_9,MSQ_10,MSQ_11,MSQ_12,MSQ_13
0,240,2023-08-03 07:34:18,2023-08-03 07:36:30,anonymous,NaN,ไทย,47,ชาย,10.0,10.0,...,8.0,8.0,10.0,8,10.0,10,ใช่,NaN,แน่นอน,NaN
1,241,2023-08-07 07:24:47,2023-08-07 07:25:36,anonymous,NaN,ไทย,25,LGBTQ+,10.0,10.0,...,10.0,10.0,10.0,10,10.0,10,ใช่,NaN,แน่นอน,กลับมาพักที่นี่รอบที่4 เเล้วค่ะ ห้องกว้างมาก
2,242,2023-08-07 07:25:43,2023-08-07 07:26:25,anonymous,NaN,ไทย,30,ชาย,10.0,10.0,...,10.0,10.0,10.0,10,10.0,10,ใช่,NaN,อาจจะ,การบริการดีครับ
3,243,2023-08-07 07:26:29,2023-08-07 07:27:23,anonymous,NaN,ไทย,39,ชาย,10.0,10.0,...,10.0,10.0,10.0,10,10.0,10,ใช่,NaN,แน่นอน,NaN
4,244,2023-08-07 07:27:28,2023-08-07 07:28:16,anonymous,NaN,ไทย,29,หญิง,10.0,10.0,...,10.0,10.0,10.0,10,10.0,10,ใช่,NaN,แน่นอน,เดินทางสะดวกสบาย ติดถนนใหญ่ การบริการดี
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
400,640,2024-05-30 05:49:29,2024-05-30 05:49:52,anonymous,NaN,ไทย,36,ชาย,10.0,10.0,...,10.0,10.0,10.0,10,10.0,10,ใช่,NaN,แน่นอน,NaN
401,641,2024-05-30 05:50:00,2024-05-30 05:50:25,anonymous,NaN,ไทย,47,ชาย,10.0,10.0,...,10.0,10.0,10.0,10,10.0,10,ใช่,NaN,แน่นอน,NaN
402,642,2024-05-30 05:48:40,2024-05-30 05:55:25,anonymous,NaN,ไทย,31,หญิง,8.0,9.0,...,9.0,9.0,9.0,8,7.0,8,อาจจะ,NaN,อาจจะ,ห้องพักเสียงดังไปนิดนึงนะคะ ทำให้พักผ่อนไม่เพี...
403,643,2024-05-30 05:55:52,2024-05-30 05:56:33,anonymous,NaN,ไทย,26,LGBTQ+,9.0,9.0,...,9.0,9.0,9.0,9,9.0,9,ใช่,NaN,อาจจะ,NaN
404,644,2024-05-31 17:01:48,2024-05-31 17:02:56,anonymous,NaN,English (United States)‎,43,ชาย,10.0,10.0,...,10.0,10.0,10.0,10,10.0,10,ใช่,NaN,แน่นอน,NaN

In [5]:
df = fillna_mean(df)
df = addMean_column(df,8,17)
df = df.rename(columns={'Start time':'Date', 'อายุ':'Age', 'เพศ':'Gender', 'MSQ_13': 'Comment'})

# Define age ranges (modify these as needed)
bins = [0, 18, 25, 35, 45, 65, float('inf')]
labels = ['0-17', '18-24', '25-34', '35-44', '45-64', '65+']

# Create the new 'Age range' column using pandas.cut
df['Age_Range'] = pd.cut(df['Age'], bins=bins, labels=labels)
df

,ID,Date,Completion time,Email,Name,Language,Age,Gender,MSQ_1,MSQ_2,...,MSQ_6,MSQ_7,MSQ_8,MSQ_9,MSQ_10,MSQ_11,MSQ_12,Comment,Mean_Point,Age_Range
0,240,2023-08-03 07:34:18,2023-08-03 07:36:30,anonymous,NaN,ไทย,47,ชาย,10.0,10.0,...,10.0,8,10.0,10,ใช่,NaN,แน่นอน,NaN,0.933333,45-64
1,241,2023-08-07 07:24:47,2023-08-07 07:25:36,anonymous,NaN,ไทย,25,LGBTQ+,10.0,10.0,...,10.0,10,10.0,10,ใช่,NaN,แน่นอน,กลับมาพักที่นี่รอบที่4 เเล้วค่ะ ห้องกว้างมาก,1.000000,18-24
2,242,2023-08-07 07:25:43,2023-08-07 07:26:25,anonymous,NaN,ไทย,30,ชาย,10.0,10.0,...,10.0,10,10.0,10,ใช่,NaN,อาจจะ,การบริการดีครับ,1.000000,25-34
3,243,2023-08-07 07:26:29,2023-08-07 07:27:23,anonymous,NaN,ไทย,39,ชาย,10.0,10.0,...,10.0,10,10.0,10,ใช่,NaN,แน่นอน,NaN,1.000000,35-44
4,244,2023-08-07 07:27:28,2023-08-07 07:28:16,anonymous,NaN,ไทย,29,หญิง,10.0,10.0,...,10.0,10,10.0,10,ใช่,NaN,แน่นอน,เดินทางสะดวกสบาย ติดถนนใหญ่ การบริการดี,1.000000,25-34
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
400,640,2024-05-30 05:49:29,2024-05-30 05:49:52,anonymous,NaN,ไทย,36,ชาย,10.0,10.0,...,10.0,10,10.0,10,ใช่,NaN,แน่นอน,NaN,1.000000,35-44
401,641,2024-05-30 05:50:00,2024-05-30 05:50:25,anonymous,NaN,ไทย,47,ชาย,10.0,10.0,...,10.0,10,10.0,10,ใช่,NaN,แน่นอน,NaN,1.000000,45-64
402,642,2024-05-30 05:48:40,2024-05-30 05:55:25,anonymous,NaN,ไทย,31,หญิง,8.0,9.0,...,9.0,8,7.0,8,อาจจะ,NaN,อาจจะ,ห้องพักเสียงดังไปนิดนึงนะคะ ทำให้พักผ่อนไม่เพี...,0.833333,25-34
403,643,2024-05-30 05:55:52,2024-05-30 05:56:33,anonymous,NaN,ไทย,26,LGBTQ+,9.0,9.0,...,9.0,9,9.0,9,ใช่,NaN,อาจจะ,NaN,0.900000,25-34
404,644,2024-05-31 17:01:48,2024-05-31 17:02:56,anonymous,NaN,English (United States)‎,43,ชาย,10.0,10.0,...,10.0,10,10.0,10,ใช่,NaN,แน่นอน,NaN,1.000000,35-44

In [6]:
filtered_df = df[['ID','Comment']].copy()
filtered_df = filtered_df.dropna(subset=['Comment'])
filtered_df

      ID                                            Comment
1    241      กลับมาพักที่นี่รอบที่4 เเล้วค่ะ ห้องกว้างมาก
2    242                                    การบริการดีครับ
4    244            เดินทางสะดวกสบาย ติดถนนใหญ่ การบริการดี
5    245  ภายในห้องพักมีกลิ่นหอมสะอาด พนักงานต้อนรับอย่า...
6    246  การต้อนรับอย่างดี Welcome drink ให้เเบบเย็นชื่...
..   ...                                                ...
362  602  ห้องพักสะอาดครับ แต่อาจจะเสียงดังช่วงดึกมอเตอร...
379  619  โรงแรมสะอาดมาก พนักงานเป็นกันเอง แต่อาจจะเสียง...
382  622  มาหาลูกสาว สมุทรปราการ ลูกสาวจองให้ห้องพักสวยง...
397  637  I am very impressed Definitely come back to us...
402  642  ห้องพักเสียงดังไปนิดนึงนะคะ ทำให้พักผ่อนไม่เพี...

[64 rows x 2 columns]

In [10]:
filtered_df['translated'] = filtered_df.loc[:,'Comment'].apply(translate_en_th)
filtered_df

,ID,Comment,translated
1,241,กลับมาพักที่นี่รอบที่4 เเล้วค่ะ ห้องกว้างมาก,"We're back here on the fourth stop, sir. The r..."
2,242,การบริการดีครับ,Good service.
4,244,เดินทางสะดวกสบาย ติดถนนใหญ่ การบริการดี,"Good journey, big road, good service."
5,245,ภายในห้องพักมีกลิ่นหอมสะอาด พนักงานต้อนรับอย่า...,"There's a nice, clean smell in the room."
6,246,การต้อนรับอย่างดี Welcome drink ให้เเบบเย็นชื่...,Nice reception. Welcome drink cold.
...,...,...,...
362,602,ห้องพักสะอาดครับ แต่อาจจะเสียงดังช่วงดึกมอเตอร...,"The rooms are clean, but there's a lot of nois..."
379,619,โรงแรมสะอาดมาก พนักงานเป็นกันเอง แต่อาจจะเสียง...,"The hotel is very clean, and the employees are..."
382,622,มาหาลูกสาว สมุทรปราการ ลูกสาวจองให้ห้องพักสวยง...,"Looking for my daughter, the ocean fort. The d..."
397,637,I am very impressed Definitely come back to us...,"I'm sorry, I'm sorry. I'm sorry. I'm sorry."
402,642,ห้องพักเสียงดังไปนิดนึงนะคะ ทำให้พักผ่อนไม่เพี...,"The room is a little too loud, so it's not eno..."

In [11]:
filtered_df['sentiment_set'] = filtered_df.loc[:,'translated'].apply(sentiment_analysis)
filtered_df

,ID,Comment,translated,sentiment_set
1,241,กลับมาพักที่นี่รอบที่4 เเล้วค่ะ ห้องกว้างมาก,"We're back here on the fourth stop, sir. The r...","[{'label': 'POSITIVE', 'score': 0.999060213565..."
2,242,การบริการดีครับ,Good service.,"[{'label': 'POSITIVE', 'score': 0.999853372573..."
4,244,เดินทางสะดวกสบาย ติดถนนใหญ่ การบริการดี,"Good journey, big road, good service.","[{'label': 'POSITIVE', 'score': 0.999871969223..."
5,245,ภายในห้องพักมีกลิ่นหอมสะอาด พนักงานต้อนรับอย่า...,"There's a nice, clean smell in the room.","[{'label': 'POSITIVE', 'score': 0.999780356884..."
6,246,การต้อนรับอย่างดี Welcome drink ให้เเบบเย็นชื่...,Nice reception. Welcome drink cold.,"[{'label': 'POSITIVE', 'score': 0.999289512634..."
...,...,...,...,...
362,602,ห้องพักสะอาดครับ แต่อาจจะเสียงดังช่วงดึกมอเตอร...,"The rooms are clean, but there's a lot of nois...","[{'label': 'POSITIVE', 'score': 0.767301201820..."
379,619,โรงแรมสะอาดมาก พนักงานเป็นกันเอง แต่อาจจะเสียง...,"The hotel is very clean, and the employees are...","[{'label': 'NEGATIVE', 'score': 0.999305725097..."
382,622,มาหาลูกสาว สมุทรปราการ ลูกสาวจองให้ห้องพักสวยง...,"Looking for my daughter, the ocean fort. The d...","[{'label': 'POSITIVE', 'score': 0.999728143215..."
397,637,I am very impressed Definitely come back to us...,"I'm sorry, I'm sorry. I'm sorry. I'm sorry.","[{'label': 'NEGATIVE', 'score': 0.999567687511..."
402,642,ห้องพักเสียงดังไปนิดนึงนะคะ ทำให้พักผ่อนไม่เพี...,"The room is a little too loud, so it's not eno...","[{'label': 'NEGATIVE', 'score': 0.997685670852..."

In [12]:
filtered_df['Positive_Score'] = filtered_df.loc[:,'sentiment_set'].apply(positive_score)
filtered_df['Negative_Score'] = filtered_df.loc[:,'sentiment_set'].apply(negative_score)
filtered_df

,ID,Comment,translated,sentiment_set,Positive_Score,Negative_Score
1,241,กลับมาพักที่นี่รอบที่4 เเล้วค่ะ ห้องกว้างมาก,"We're back here on the fourth stop, sir. The r...","[{'label': 'POSITIVE', 'score': 0.999060213565...",0.999060,0.000940
2,242,การบริการดีครับ,Good service.,"[{'label': 'POSITIVE', 'score': 0.999853372573...",0.999853,0.000147
4,244,เดินทางสะดวกสบาย ติดถนนใหญ่ การบริการดี,"Good journey, big road, good service.","[{'label': 'POSITIVE', 'score': 0.999871969223...",0.999872,0.000128
5,245,ภายในห้องพักมีกลิ่นหอมสะอาด พนักงานต้อนรับอย่า...,"There's a nice, clean smell in the room.","[{'label': 'POSITIVE', 'score': 0.999780356884...",0.999780,0.000220
6,246,การต้อนรับอย่างดี Welcome drink ให้เเบบเย็นชื่...,Nice reception. Welcome drink cold.,"[{'label': 'POSITIVE', 'score': 0.999289512634...",0.999290,0.000710
...,...,...,...,...,...,...
362,602,ห้องพักสะอาดครับ แต่อาจจะเสียงดังช่วงดึกมอเตอร...,"The rooms are clean, but there's a lot of nois...","[{'label': 'POSITIVE', 'score': 0.767301201820...",0.767301,0.232699
379,619,โรงแรมสะอาดมาก พนักงานเป็นกันเอง แต่อาจจะเสียง...,"The hotel is very clean, and the employees are...","[{'label': 'NEGATIVE', 'score': 0.999305725097...",0.000694,0.999306
382,622,มาหาลูกสาว สมุทรปราการ ลูกสาวจองให้ห้องพักสวยง...,"Looking for my daughter, the ocean fort. The d...","[{'label': 'POSITIVE', 'score': 0.999728143215...",0.999728,0.000272
397,637,I am very impressed Definitely come back to us...,"I'm sorry, I'm sorry. I'm sorry. I'm sorry.","[{'label': 'NEGATIVE', 'score': 0.999567687511...",0.000432,0.999568
402,642,ห้องพักเสียงดังไปนิดนึงนะคะ ทำให้พักผ่อนไม่เพี...,"The room is a little too loud, so it's not eno...","[{'label': 'NEGATIVE', 'score': 0.997685670852...",0.002314,0.997686

In [13]:
df = df[['ID','Date','Gender','Age_Range','Mean_Point']]
# df

In [14]:
# merge back

merged_df = pd.merge(df, filtered_df, on='ID', how='left')
merged_df.head()

,ID,Date,Gender,Age_Range,Mean_Point,Comment,translated,sentiment_set,Positive_Score,Negative_Score
0,240,2023-08-03 07:34:18,ชาย,45-64,0.933333,NaN,NaN,NaN,NaN,NaN
1,241,2023-08-07 07:24:47,LGBTQ+,18-24,1.000000,กลับมาพักที่นี่รอบที่4 เเล้วค่ะ ห้องกว้างมาก,"We're back here on the fourth stop, sir. The r...","[{'label': 'POSITIVE', 'score': 0.999060213565...",0.999060,0.000940
2,242,2023-08-07 07:25:43,ชาย,25-34,1.000000,การบริการดีครับ,Good service.,"[{'label': 'POSITIVE', 'score': 0.999853372573...",0.999853,0.000147
3,243,2023-08-07 07:26:29,ชาย,35-44,1.000000,NaN,NaN,NaN,NaN,NaN
4,244,2023-08-07 07:27:28,หญิง,25-34,1.000000,เดินทางสะดวกสบาย ติดถนนใหญ่ การบริการดี,"Good journey, big road, good service.","[{'label': 'POSITIVE', 'score': 0.999871969223...",0.999872,0.000128

In [15]:
merged_df = merged_df.drop(columns=['translated','sentiment_set'])
merged_df

,ID,Date,Gender,Age_Range,Mean_Point,Comment,Positive_Score,Negative_Score
0,240,2023-08-03 07:34:18,ชาย,45-64,0.933333,NaN,NaN,NaN
1,241,2023-08-07 07:24:47,LGBTQ+,18-24,1.000000,กลับมาพักที่นี่รอบที่4 เเล้วค่ะ ห้องกว้างมาก,0.999060,0.000940
2,242,2023-08-07 07:25:43,ชาย,25-34,1.000000,การบริการดีครับ,0.999853,0.000147
3,243,2023-08-07 07:26:29,ชาย,35-44,1.000000,NaN,NaN,NaN
4,244,2023-08-07 07:27:28,หญิง,25-34,1.000000,เดินทางสะดวกสบาย ติดถนนใหญ่ การบริการดี,0.999872,0.000128
...,...,...,...,...,...,...,...,...
400,640,2024-05-30 05:49:29,ชาย,35-44,1.000000,NaN,NaN,NaN
401,641,2024-05-30 05:50:00,ชาย,45-64,1.000000,NaN,NaN,NaN
402,642,2024-05-30 05:48:40,หญิง,25-34,0.833333,ห้องพักเสียงดังไปนิดนึงนะคะ ทำให้พักผ่อนไม่เพี...,0.002314,0.997686
403,643,2024-05-30 05:55:52,LGBTQ+,25-34,0.900000,NaN,NaN,NaN
404,644,2024-05-31 17:01:48,ชาย,35-44,1.000000,NaN,NaN,NaN

In [16]:
# Export clean file (overwrite)
merged_df.to_csv('clean_data.csv', index=False)